@font-face {
	font-family: FFMark;
	src: url(../fonts/FontFont_FF.Mark.Pro.Black.otf);
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overscroll-behavior: none;
	background-color: #000913;
}

#preloading {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	
	background-color: #000913;
}

.background {
	position: absolute;
	width: 100%;
	height: 100vh;
	z-index: -100;
	
	overflow: hidden;
}

.background_image {
	object-fit: cover;
	object-position: center 20%;
	filter: blur(8px);
	background-size: cover;
	width: 100%;
	height: 100%;
}

.background_overlay {
	background: rgba(0, 0, 0, 0) linear-gradient(transparent, rgb(0, 9, 19) 70%) repeat scroll 0% 0%;
	position: absolute;
	left: 0px;
	bottom: -10%;
	width: 100%;
	height: 50%;
}

.background_filter {
	background: rgba(0, 9, 19, 0.7) none repeat scroll 0% 0%;
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	z-index: -99;
}

.header {
	height: 120px;
	margin-left: 160px;
	margin-right: 160px;
	
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.header_logo {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	
    text-decoration: none;
}

.header_icon {
	padding-top: 3px;
	margin-right: 20px;
	width: 40px;
	height: 40px;
}

@media only screen and (max-width: 700px) {
	.header_icon {
		display: none;
	}
}

.header_title {
	padding-top: 5px;
	max-width: 320px;
	font-family: FFMark;
	letter-spacing: 0.3em;
	
	color: #fff;
	font-size: 18px;
}

.header_game {
	padding-top: 5px;
	padding-left: 8px;
	max-width: 320px;
	
	color: rgba(255, 255, 255, 0.5);
	
	font-size: 20px;
	font-weight: 600;
	font-family: 'Catamaran', sans-serif;
}

.header_searchbox {
	margin-left: 80px;
	width: 223px;
	height: 40px;
	padding-left: 12px;
	padding-right: 12px;
	
	color: #fff;
	border: none;
	background: none;
	border-radius: 6px;
	border: 2px solid rgba(255, 255, 255, 0.5);
	outline: none;
	
	font-size: 16px;
	font-family: 'Catamaran', sans-serif;
	font-weight: 400;
}

.header_sort_text {
	margin-left: 40px;
	
	color: rgba(255, 255, 255, 0.5);
	
	font-size: 16px;
	font-family: 'Catamaran', sans-serif;
	font-weight: 600;
}

.header_sortselect {
	position: relative;
	margin-left: 16px;
	width: 150px;
	height: 42px;
	padding-left: 12px;
	padding-right: 12px;
	
	display: flex;
	align-items: center;
	
	color: rgba(255, 255, 255, 0.5);
	border: none;
	background: none;
	border-radius: 6px;
	border: 2px solid rgba(255, 255, 255, 0.5);
	
	outline: none;
	appearance: none;
	cursor: pointer;
	user-select: none;
	
	font-size: 16px;
	font-family: 'Catamaran', sans-serif;
	font-weight: 400;
}

.header_sortselect.open {
	border-radius: 6px 6px 0 0;
}

.header_sortselect:not(.open):hover .header_sortselect_arrow {
	border-top: 5px solid #fff;
}

.header_sortselect.open .header_sortselect_arrow {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
	border-top: none;
}

.header_sortselect_options {
	position: absolute;
	bottom: -128px;
	left: -2px;
	
	display: flex;
	flex-direction: column;
	
	color: #dcddde;
	background-color: #171F28;
}

.header_sortselect_options span {
	width: 150px;
	height: 42px;
	padding-left: 14px;
	padding-right: 14px;
	
	line-height: 42px;
}

.header_sortselect_options span.selected {
	background-color: #0F1419;
	
	cursor: auto;
}

.header_sortselect_options span:not(.selected):hover {
	color: #fff;
	background-color: #222A33;
}

.header_sortselect_arrow {
	position: absolute;
	width: 0;
	height: 0;
	top: 19px;
	right: 10px;
	
	pointer-events: none;
	
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid rgba(255, 255, 255, 0.5);
}

.content_container {
	margin: auto;
	margin-bottom: 120px;
	max-width: 1000px;
	
	padding-left: 80px;
	padding-right: 80px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.stats_container {
	max-width: 100%;
	margin-top: 160px;
	margin-bottom: 133px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.stat_container {
	margin-left: 46px;
	margin-right: 46px;
	margin-bottom: 46px;
	
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.stat_number {
	font-size: 52px;
	font-family: FFMark;
	
	color: #fff;
}

.stat_text {
	font-size: 28px;
	font-weight: 800;
	font-family: 'Catamaran', sans-serif;
	
	color: rgba(255, 255, 255, 0.5);
}

.nothing_found_text {
	font-family: 'Catamaran', sans-serif;
	font-weight: 500;
	font-size: 16px;
	
	color: rgba(255, 255, 255, 0.5);
}

.list_title {
	text-align: left;
	margin-bottom: 20px;
	
	font-family: 'Catamaran', sans-serif;
	font-weight: 500;
	font-size: 16px;
	
	color: rgba(255, 255, 255, 0.5);
}

.list_container {
	margin-bottom: 40px;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.entry_card {
	position: relative;
	
	min-width: 200px;
	min-height: 46px;
	margin: 8px;
	
	color: #dcddde;
	background-color: #171F28;
	fill: #171F28;
	border-radius: 6px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	cursor: pointer;
	transition: background-color .125s,box-shadow .125s,transform .125s,-webkit-box-shadow .125s,-webkit-transform .125s;
	user-select: none;
	
	font-family: 'Catamaran', sans-serif;
	font-weight: 500;
}

.entry_card:hover {
	background-color: #222A33;
	fill: #222A33;
	color: #fff;
	transform: translate(0, -8px);
	box-shadow: 0 8px 22px rgba(0,0,0,0.45);
}

.entry_card_text {
	font-size: 16px;
	line-height: 24px;
	margin-right: 9px;
}

.entry_card_tag {
	margin-left: 9px;
	width: 16px;
	height: 16px;
	
	border-radius: 5px;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.entry_card_tag svg {
	width: 10px;
	height: 10px;
}

.copied_sign {
	position: absolute;
	top: -29px;
	
	z-index: 50;
	pointer-events: none;
	
	transition: opacity 0.15s ease;
}

.copied_sign_text {
	display: inline-block;
	width: 71px;
	height: 32px;
	line-height: 32px;
	
	text-align: center;
	
	background-color: #3BA55C;
	color: #fff;
	border-radius: 5px;
	
	font-family: 'Catamaran', sans-serif;
	font-weight: 500;
	font-size: 14px;
}

.copied_sign_triangle {
	position: absolute;
	top: 31px;
	left: 29.5px;
	
	display: inline-block;
	width: 0; 
	height: 0;
	
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #3BA55C;
}