@font-face {
  font-family: FFMark;
  src: url(../fonts/FontFont_FF.Mark.Pro.Black.otf);
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overscroll-behavior: none;
	background-color: #000913;
}

#profile_container {
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
	height: 100vh;
	width: 100vw;
	position: fixed;
	justify-content: center;
	align-items: center;
}

.profile {
	width: 600px;
	background-color: #6C82CF;
	border-radius: 8px;
	overflow: hidden;
}

.profile_header {
	height: 120px;
	display: flex;
	align-items: center;
	background-color: #7289DA;
}

.profile_icon {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	margin: 20px;
	background-size: contain;
}

.profile_name {
	font-family: 'Catamaran', sans-serif;
	font-weight: 600;
	font-size: 18px;
	color: #fff;
}

.invite_button {
	margin-left: auto; 
	margin-right: 30px;
	background-color: #fff;
	border: none;
	user-select: none;
	width: 135px;
	height: 32px;
	border-radius: 3px;
	text-decoration: none;
	color: #7289DA;
	text-align: center;
	line-height: 36px;
	font-size: 14px;
	font-family: 'Catamaran', sans-serif;
	font-weight: 500;
}
.invite_button:hover {
	background-color: #F8F9FD;
}

.profile_title {
	color: #fff;
	font-size: 12px;
	font-weight: 800;
	font-family: 'Catamaran', sans-serif;
	word-spacing: 0px;
	margin: 20px;
	margin-bottom: 12px;
}

.profile_content {
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
	font-family: 'Catamaran', sans-serif;
	margin: 20px;
	margin-top: 12px;
	margin-bottom: 32px;
}

.background {
	position: absolute;
	width: 100%;
	height: 100vh;
	z-index: -100;
	
	overflow: hidden;
}

.background_image {
	object-fit: cover;
	object-position: center 20%;
	filter: blur(8px);
	background-size: cover;
	width: 100%;
	height: 100%;
}

.background_overlay {
	background: rgba(0, 0, 0, 0) linear-gradient(transparent, rgb(0, 9, 19) 70%) repeat scroll 0% 0%;
	position: absolute;
	left: 0px;
	bottom: -10%;
	width: 100%;
	height: 50%;
}

.background_filter {
	background: rgba(0, 9, 19, 0.7) none repeat scroll 0% 0%;
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	z-index: -99;
}

.header {
	height: 120px;
	display: flex;
	align-items: center;
}

.header_logo {
	padding-top: 3px;
	margin-left: 160px;
	width: 40px;
	height: 40px;
}

.header_title {
	margin-left: 20px;
	padding-top: 5px;
	max-width: 320px;
	font-family: FFMark;
	letter-spacing: 0.3em;
	
	color: #fff;
	font-size: 18px;
}

.header_searchbox {
	margin-left: 80px;
	height: 40px;
	padding-left: 12px;
	padding-right: 12px;
	
	color: #fff;
	border: none;
	background: none;
	border-radius: 6px;
	border: 2px solid #fff;
	outline: none;
	font-size: 16px;
	font-family: 'Catamaran', sans-serif;
	font-weight: 400;
}

.list_container {
	margin: auto;
	margin-bottom: 120px;
	margin-top: 120px;
	max-width: 1000px;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.entry_card {
	min-width: 200px;
	min-height: 46px;
	margin: 8px;
	
	color: #dcddde;
	background-color: #171F28;
	fill: #171F28;
	border-radius: 6px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	cursor: pointer;
	transition: background-color .125s,box-shadow .125s,transform .125s,-webkit-box-shadow .125s,-webkit-transform .125s;
	
	font-family: 'Catamaran', sans-serif;
	font-weight: 500;
}
.entry_card:hover {
	background-color: #222A33;
	fill: #222A33;
	color: #fff;
	transform: translate(0, -8px);
	box-shadow: 0 8px 22px rgba(0,0,0,0.45);
}

.entry_card_text {
	font-size: 16px;
	line-height: 24px;
	margin-right: 9px;
}

.entry_card_tag {
	margin-left: 9px;
	width: 16px;
	height: 16px;
	
	border-radius: 5px;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.entry_card_tag svg {
	width: 10px;
	height: 10px;
}