@font-face {
  font-family: FFMark;
  src: url(../fonts/FontFont_FF.Mark.Pro.Black.otf);
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overscroll-behavior: none;
	background-color: #000913;
}

#preloading {
	position: fixed;
	width: 100vw;
	height: 100vh;
	
	background-color: #000913;
}

.background {
	position: absolute;
	width: 100%;
	height: 100vh;
	z-index: -100;
	
	overflow: hidden;
}

.background_image {
	object-fit: cover;
	object-position: center 20%;
	filter: blur(8px);
	background-size: cover;
	width: 100%;
	height: 100%;
}

.background_overlay {
	background: rgba(0, 0, 0, 0) linear-gradient(transparent, rgb(0, 9, 19) 70%) repeat scroll 0% 0%;
	position: absolute;
	left: 0px;
	bottom: -10%;
	width: 100%;
	height: 50%;
}

.background_filter {
	background: rgba(0, 9, 19, 0.7) none repeat scroll 0% 0%;
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	z-index: -99;
}

.header {
	height: 120px;
	margin-left: 160px;
	margin-right: 160px;
	
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.header_logo {
	padding-top: 3px;
	margin-right: 20px;
	width: 40px;
	height: 40px;
}

@media only screen and (max-width: 700px) {
	.header_logo {
		display: none;
	}
}

.header_title {
	padding-top: 5px;
	max-width: 320px;
	font-family: FFMark;
	letter-spacing: 0.3em;
	
	color: #fff;
	font-size: 18px;
}

.header_searchbox {
	margin-left: 80px;
	height: 40px;
	padding-left: 12px;
	padding-right: 12px;
	
	color: #fff;
	border: none;
	background: none;
	border-radius: 6px;
	border: 2px solid rgba(255, 255, 255, 0.5);
	outline: none;
	
	font-size: 16px;
	font-family: 'Catamaran', sans-serif;
	font-weight: 400;
}

.content_container {
	margin: auto;
	margin-bottom: 120px;
	max-width: 1000px;
	
	padding-left: 80px;
	padding-right: 80px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.stats_container {
	max-width: 100%;
	margin-top: 160px;
	margin-bottom: 160px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.stat_container {
	margin-left: 42px;
	margin-right: 42px;
	margin-bottom: 46px;
	
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.stat_number {
	font-size: 52px;
	font-family: FFMark;
	
	color: #fff;
}

.stat_text {
	font-size: 28px;
	font-weight: 800;
	font-family: 'Catamaran', sans-serif;
	
	color: rgba(255, 255, 255, 0.5);
}

.list_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.entry_card {
	min-width: 200px;
	min-height: 46px;
	margin: 8px;
	
	color: #dcddde;
	background-color: #171F28;
	fill: #171F28;
	border-radius: 6px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	cursor: pointer;
	transition: background-color .125s,box-shadow .125s,transform .125s,-webkit-box-shadow .125s,-webkit-transform .125s;
	
	font-family: 'Catamaran', sans-serif;
	font-weight: 500;
}
.entry_card:hover {
	background-color: #222A33;
	fill: #222A33;
	color: #fff;
	transform: translate(0, -8px);
	box-shadow: 0 8px 22px rgba(0,0,0,0.45);
}

.entry_card_text {
	font-size: 16px;
	line-height: 24px;
	margin-right: 9px;
}

.entry_card_tag {
	margin-left: 9px;
	width: 16px;
	height: 16px;
	
	border-radius: 5px;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.entry_card_tag svg {
	width: 10px;
	height: 10px;
}